{{paper-input label="First Name"
              value=firstNameValue
              class="spec-first-name-input"
              event-enter=(action "registerSubmit")}}
{{paper-input label="Last Name"
              value=lastNameValue
              class="spec-last-name-input"
              event-enter=(action "registerSubmit")}}
{{paper-input label="Email"
              type="email"
              value=emailValue
              class="spec-email-input"
              required=true
              customValidation=emailValidation
              event-enter=(action "registerSubmit")}}
{{paper-input label="Password"
              type="password"
              value=passwordValue
              class="spec-password-input"
              required=true
              customValidation=passwordValidation
              event-enter=(action "registerSubmit")}}
<div class="bottom-container">
  <div class="float-left">
    {{#paper-checkbox checked=mailingList 
                      class="no-margin-left spec-mailing-list-checkbox"}}Sign up for our mailing list!{{/paper-checkbox}}
  </div>
  {{#paper-button raised=true
                  primary=true
                  action="registerSubmit"
                  disabled=disableSubmit
                  class="float-right spec-user-register-submit"}}Register{{/paper-button}}
</div>
<h5 class="center-text">Already registered? 
{{#if transitionToRoute}}
  {{#link-to 'users.login' class='spec-users-login'}}Log In{{/link-to}}
{{else}}
  <a href="#" {{action 'transitionToLogin'}} class="spec-transition-to-login">Log In</a>
{{/if}}
</h5>